<!DOCTYPE html>
<html lang="en">
<head>
    <title>Feed Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% stylesheets 'bundles/app/css/custom.css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}


    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    {#<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>#}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ asset('bundles/app/js/pjstreamer.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <style>

    </style>
</head>
{% block body %}
    <body ng-app="myApp">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-sm-12 col-lg-12"><h3>TradeTracker.com Assessment</h3></div>
        </div>
        <div>
            <div class="row">
                <div class="col-sm-2 col-lg-2">
                </div>
                <div class="col-sm-8 col-lg-8">
                    {{ form(form) }}
                </div>
                <div class="col-sm-2 col-lg-2">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-lg-12 table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>ProductID</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Price & currency</th>
                            <th>Categories</th>
                            <th>ProductURL</th>
                            <th>ImageURL</th>
                        </tr>
                        </thead>
                        <tbody class="table-body">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </body>
{% endblock %}

{% block javasripts %}
    <script language="javascript">

        //Ajax Form Submission
        $(document).ready(function ($) {
            var xmlhttp = null;
            $('.submit').click(function (e) {
                e.preventDefault();
                if (!$('.url').val()) {
                    // validate
                    alert('Enter URL');
                    return false;
                }

                if (xmlhttp) {
                    // Abort the AJAX request.
                    xmlhttp.abort();

                }

                $('tbody tr').remove();

                var form = $('body').find('form');
                var data = form.serialize();
                var route = Routing.generate('product');

                xmlhttp = new XMLHttpRequest();
                xmlhttp.open("POST", route, true);
                xmlhttp.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
                var $i = 1;
                new PJStreamer(xmlhttp, function (data) {
                     // render received data
                    data = $.parseJSON(data);
                    var html = '';
                    html += '<tr>';
                    html += '<td>' + $i + '</td>';
                    html += '<td>' + data['productID'] + '</td>';
                    html += '<td>' + data['name'] + '</td>';
                    html += '<td>' + data['description'] + '</td>';
                    html += '<td>' + data['price']['#'] + ' ' + data['price']['@currency'] + '</td>';
                    html += '<td>' + data['categories']['category']['@path'] + '</td>';
                    html += '<td>' + data['productURL'] + '</td>';
                    html += '<td>' + data['imageURL'] + '</td>';
                    html += '</tr>';
                    $i = $i + 1;
                    $('.table-body').append(html);

                }).start(data);
            });
        });
    </script>
{% endblock %}
</html>